<header>
  <h1>THE REAL COFFEE MENU</h1>
</header>
{{!-- <div id='sort'>
  <a href='/coffees/price'><div class="button link">Sort By Price</div></a>
  <a href='/coffees/name'><div class="button link">Sort By Name</div></a>
</div> --}}

<a href="../search">Search</a>

{{#each coffee}}
    <a href="/coffee/{{name}}">
      <div class="coffees link box">
        <img src="{{image}}" class='w45'/>
        <div class='w50 text'>
          <h2>{{name}}</h2>
          <p>{{short_description}}</p>
          <p>Price: {{price}}</p>
        </div>
        <div class='w5 arrow'>
          >
        </div>
      </div>
    </a>
{{/each}}