{{> coffee}}
    

    <div id='Overview'>
      <div class='coffeeOverview box'>
        <h2>Overview</h2>
        <div>
          <p>{{short_description}}</p>
          <p>Price: {{price}}</p>
        </div>
        <img {{bind-attr src='image' alt='title'}}/>
      </div>
      <div class='coffeeDesc box'>
        <h2>Description</h2>
        <p>{{long_description}}</p>
      </div>
      <div class='whoDrinks box'>
        <h2>Who drinks it?</h2>
        <p>{{who_drinks_it}}</p>
      </div>
      <div class='howDrinks box'>
        <h2>How to Drink</h2>
        <p>{{how_to_drink}}</p>
      </div>
    </div>