 <h1>Are you sure you want to delete {{name}}</h1>
    <ul>
      <li>name : {{name}}</li>
      <li>short description : {{short_description}}</li>
      <li>long description: {{long_description}}</li>
      <li>price : {{price}}</li>
      <li>how to drink : {{how_to_drink}}</li>
      <li>who drinks it : {{who_drinks_it}}</li>
    </ul>
    <button {{action 'deleteCoffee'}}>Delete</button>