

<header>
  <h1>THE REAL COFFEE MENU</h1>
</header>

<div class='box'>
  <h2>Search</h2>
  <p>Coffee Name: {{view Ember.TextArea valueBinding='searchName'}}</p>
  <p>Price: {{view Ember.Select content=prices valueBinding='searchPrice'}}<p>
</div>

<div>

{{#unless content}}
  <div class='box'><h2>No results...</h2></div>
{{/unless}}

<div class="box">
  <div id="mapSearch" style='height:90%;width:70%;'></div>
</div>

{{#each content}}
    {{#link-to 'coffee' this}}
      <div class="coffees link box">
        <img {{bind-attr src="image"}} class='w45'/>
        <div class='w50 text'>
          <h2>{{name}}</h2>
          <p>{{short_description}}</p>
          <p>Price: {{price}}</p>
        </div>
        <div class='w5 arrow'></div>
      </div>
    {{/link-to}}
{{/each}}
</div>

{{!-- {{/if}} --}}